<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script type="text/javascript" src="../static/js/script.js" async></script>

  <title>Check Eligibility</title>
</head>
<body style="background-image:url('/static/image/bgimg.jpg');background-repeat:norepeat;background-size: cover;margin-top: 7%;">

  <div class="register" >
  <div class="p4">
    <div class="row mb-3">
        <div class="col-4">
            <h2 class="text-responsive-h">
                
            </h2>
            <br>
            <br>
            </div>
        <div class="col-4">
            <div class="card p-2 ms-2 my-2"> 
                <div class="card-body">
                    <h5 class="card-title pb-4">Check your chance of prediction</h5>
                    <form action="/" method="post" id="theForm">
                        <div class="row mb-3">
                            <label for="gre" class="col-lg-2 col-form-label">GRE Score:</label>
                            <div class="col-lg-10">    
                                <input type="number" class="form-control" id="gre" name="gre" min="250" max="340" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="tofel" class="col-lg-2 col-form-label">TOFEL Score:</label>
                            <div class="col-lg-10">    
                                <input type="number" class="form-control" id="tofel" name="tofel" min="50" max="120" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="university_rating" class="col-lg-2 col-form-label">University Rating:</label>
                            <div class="col-lg-10">    
                                <input type="number" class="form-control" id="university_rating" step="0.01" name="university_rating" min="1" max="5" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="sop" class="col-lg-2 col-form-label">SOP:</label>
                            <div class="col-lg-10">    
                                <input type="number" class="form-control" id="sop" name="sop" step="0.01" min="1" max="5" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="lor" class="col-lg-2 col-form-label">LOR:</label>
                            <div class="col-lg-10">    
                                <input type="number" class="form-control" id="lor" name="lor" step="0.01" min="1" max="5" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="cgpa" class="col-lg-2 col-form-label">CGPA:</label>
                            <div class="col-lg-10">    
                                <input type="number" class="form-control" id="cgpa" name="cgpa" step="0.01" min="5" max="10" required>
                            </div>
                        </div>
                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Research:</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="yes_no_radio" id="gridRadios1" value="1">
                                    <label class="form-check-label" for="yes_no_radio">
                                    Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="yes_no_radio" id="gridRadios2" value="0" checked>
                                    <label class="form-check-label" for="yes_no_radio">No</label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row lg-3">
                            <div class="col-lg-2 mb-2 me-3">
                                <button type="submit" class="btn btn-primary" id="button">Predict</button>
                            </div>
                            <div class="col-lg-2" id="spinner">
                                <div class="spinner-border text-primary m-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-primary m-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>
</div> 
</body>
</html>