<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Admit Eligibility Predictor</title>
    <link href="/css/style.css" rel="stylesheet">
    <style>
        body {
        background-image: url('/image/bgimg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
</head>
<body>
   <div class="container">
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/checkEligibility">Check eligibility</a></li>
            </ul>
        </nav>

    </div>
    <div class="row">
        <div class="col-1">
            <h2>University Admit Eligibility Predictor</h2>
            <button type="button"><a href="/checkEligibility" style="text-decoration: none;color:white;">check now</a></button>
        </div>
    
    </div>
   </div>
</body>
</html>